* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

img{
	max-width: 100%;
}


main{
	padding: 100px 280px;
	text-align: center;
}

.product{
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 300px;
}

.product .discount{
	position: absolute;
	padding: 5px;
	top: 0;
	right: 0;
	font-size: 20px;
	background-color: red;
	color: white;
}
.product .discount.light{
	background-color: green;
}

.product .heart{
	display: none;
	color: red;
	position: absolute;
	bottom: 15px;
	left: 0;
	text-align: center;
	width: 100%;
}

.product:hover .heart{
	display: block;
}